* {
  border: 0;
  box-sizing: inherit;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-size: 10px; /* rem = 10px  */
}

body {
  font-size: 1.6rem;
  font-family: 'Nunito Sans', sans-serif;
}

.error-body {
  background: url(https://media1.tenor.com/images/b5ff4d9783c61db83962f07155802827/tenor.gif) no-repeat center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.error-div {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  font-size: 3rem;
  text-align: center;
}

.error-action {
  border-radius: 4px;
  background-color: #fff;
  color: #000;
  display: table;
  margin: 2rem auto;
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
  text-decoration: none;
}

@media (min-aspect-ratio: 1/1) {
  .error-body {
    /* background: url(https://media1.tenor.com/images/b5ff4d9783c61db83962f07155802827/tenor.gif) no-repeat center fixed; */
    background: url(https://media1.tenor.com/images/347ba6e901d5744877c5f525bfc7e028/tenor.gif) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
